[submodule ".vim/pack/plugins/start/vim-go"]
	path = .vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go.git

[submodule ".vim/pack/plugins/start/Spacegray.vim"]
	path = .vim/pack/plugins/start/Spacegray.vim
	url = https://github.com/ajh17/Spacegray.vim
[submodule ".vim/pack/plugins/start/CtrlP"]
	path = .vim/pack/plugins/start/CtrlP
	url = https://github.com/kien/ctrlp.vim.git
[submodule ".vim/pack/plugins/start/vim-pencil"]
	path = .vim/pack/plugins/start/vim-pencil
	url = https://github.com/reedes/vim-pencil
[submodule ".vim/pack/plugins/start/vim-fugitive"]
	path = .vim/pack/plugins/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/pack/plugins/start/surround"]
	path = .vim/pack/plugins/start/surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/pack/plugins/start/jellybeans"]
	path = .vim/pack/plugins/start/jellybeans
	url = https://github.com/nanotech/jellybeans.vim
